################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASP.NET-studies/v17/.wsuo
/.vs/ASP.NET-studies/v17/DocumentLayout.json
